*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.crypto-heading-container{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

.crypto-heading-container .crypto-heading{
    display: flex;
    align-items: center;
}

.crypto-news-heading-container{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

.crypto-news-heading-container .crypto-news-heading{
    display: flex;
    align-items: center;
}

.search-crypto{
    display: block;
    width: 30%;
    margin: 1rem auto;
    margin-top: 0px;
}

@media screen and (max-width: 750px){
    .ant-typography h2{
        font-size: 1rem;
    }
}